
@{
    ViewBag.Title = "Leave";
}

<h2>Leave</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
            <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type = "submit" value="Leave Household" class="btn btn-default" />
            </div>
        </div>
}